*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    
}
:root{
    --primary: #1a1d22;
    --secondary: #24272c;
    --el: white;
    --accent: #b82a34;
    --homeBtnText: lightgray;
}
.logoLight{
    filter: hue-rotate(240deg) !important;
}
.lightIcon{
    filter: invert(0%); 
}
.darkIcon{
    filter: invert(100%);
}
.heroLight{
    background-image: url('../images/hero-img-light.png') !important;
}
#btn-dot{
    height:23px;
    width: 24px;
    background-color: #1a1d22;
    border-radius: 20px;
    transform: translateX(x);
    transition: all 0.3s;
    background-image: url('../images/light.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}
#darkModeBtn{
    background-color: white;
    width: 40px;
    height: 25px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border: none;
    transition: all 0.3s;  
    margin-left: 50px;
    border: 1px solid var(--el)
}
.activeDarkModeBtn{
    transform: translateX(+50%);
    transition: all 0.3s;
    background-image: url('../images/dark.png') !important; 
    background-position: center;
    background-size: 20%;
    background-repeat: no-repeat;
}
.lightHomeBtn:hover{
    filter: invert(100%);
}
html{
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}
body::-webkit-scrollbar{
    display: none;
}
nav{
    width: 100vw;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.logo{
    height: 80%;
    margin-left: 100px;
    filter: hue-rotate(100deg)
}
.nav-links{
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
}
.nav-links a{
    height: calc(100% - 3px);
    width: 25%;
    text-decoration: none;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid transparent;
    transition: all 0.2s;
}
.nav-links a:hover{
    border-bottom: 1px solid var(--accent);
    color: var(--accent);
    background-color: rgba(128, 128, 128, 0.192);
    transition: all 0.2s;
}
#home-btn{
    color: var(--accent);
    border-bottom: 1px solid var(--accent);
}
#nav-contact-btn{
    height: 40px;
    width: 150px;
    background-color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--homeBtnText);
    text-decoration: none;
    font-size: 1.3rem;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 100px;
    transition: all 0.2s;
}
#nav-contact-btn:hover{
    transition: all 0.2s;
    border: 1px solid lightgray;
    
}

body{
    width: 100vw;
    background-color: var(--primary);
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}
.welcome-section{
    
    width: 100vw;
    height: 100vh;
    background-image: url('../images/home-ilustation.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right;
    scroll-snap-align: start;
}
.welcome-content{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--el);
}

.welcome-content h1{
    font-size: 4rem;
}
.welcome-content h2{
    font-size: 3rem;
}
.welcome-content h3{
    font-size: 2rem;
}
.name{
    color: var(--accent);
}
.contact-btn{
    width: 150px;
    background-color: var(--accent);
    height: 40px;
    text-decoration: none;
    color: var(--homeBtnText);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.2s;
}
.contact-btn:hover{
    border: 1px solid lightgray;
    transition: all 0.2s;
}
.home-btns{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 25px;;
}
#find-more-btn{
    width: 150px;
    height: 40px;
    background-color: #FFD966;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.2s;
}
#find-more-btn:hover{
    border: 1px solid lightgray;
    transition: all 0.2s;;
    background-color: #fde396;
}
.welcome-text{
    margin-left: 10%;
}
.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100px;
    height: 50vh;
    position: absolute;
    left: 0px;
    bottom: 0px;
    gap: 20px;
}
.social-icon{
    width: 40px;
    height: 40px;
    transition: all 0.3s;
    border-radius: 10px;
    padding: 5px;
    transition: all 0.2s;
    cursor: pointer;
}
.welcome-section .social-icon:hover{
    filter: invert(0%);
    background-color: rgba(211, 211, 211, 0.281);
    transition: all 0.2s;
}
.socials-line{
    height: 200px;
    width: 5px;
    background-color: var(--el);
}
.email{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 0px;
    bottom: 0px;
    gap: 30px;
}
.email a{
    writing-mode: vertical-rl;
    font-size: 2rem;
    font-weight: 100;
    text-decoration: none;
    color: var(--el);
}

.section{
    min-height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}
#about .go-to-top, #portfolio .go-to-top{
    width: 80%;
    left: 10%;
    bottom: 30px;
    
}

.title{
    writing-mode:vertical-rl;
    font-size: 2rem;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    height: calc(50% - 50px);
    width: 5px;
    background-color: var(--el);
}
.left-header, .right-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    
    bottom: 0px;
    height: 100%;
    width: 100px;
}
.left-header{
    left: 0px;
}
.right-header{
    right: 0px;
}


.header .title{
    color: var(--el);
}

.go-back{
    position: absolute;
    top: 20px;
    right: 100px;
    
}
.go-back a{
    text-decoration: none;
    color: var(--el);
    font-size: 1.3rem;
}
.go-back a:hover{
    text-decoration: underline;
}

#about{
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--el);
    overflow: hidden;
    position: relative;
    align-items: center;
}
.about-content{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    padding: 25px;
}
.personal-info{
    width: 25%;
    border-right: 1px solid var(--el);
    padding-right: 30px;
    height: 100%;
}
.profile-picture{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-picture img{
    height: 95%;
    border-radius: 150px;
}
.personal-details{
    width: 100%;
    height: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
#name{
    font-size: 1.5rem;
    margin-top: 25px;
    margin-bottom: 30px;
}
#contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 1.2rem;
}




.about-me{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 50%;
    
}
.about-me h2{
    font-size: 2rem;
    margin-bottom: 30px;
}
.about-me p{
    font-size: 1.3rem;
}


.skills .text{
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 30px;
}
.skills .text a{
    text-decoration: none;
    color: gray;
}
.skills .text a:hover{
    color: lightgray;
}
.skill-img{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.skill-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: var(--primary);
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.personal-details a{
    color: var(--el);
}
.personal-details .subtitle{
    font-size: 1.3rem;
    font-weight: bolder;
    margin: 15px 0px;
}
.other-skills{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.other-skills div{
    display: flex;
    gap: 10px;
    align-items: center;
}

.dot{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: var(--el);
}



#portfolio{
    position: relative;
    display: flex;
    justify-content: center;
}

.portfolio-content{
    width: 80%;
    height: 80%;
    color: var(--el);
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.portfolio-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 75%;
    text-align: center;
    margin: 30px 0px 50px 0px;
}
.portfolio-projects{
    height: 80%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.portfolio-projects::-webkit-scrollbar{
    visibility: hidden;
}
.project-container{
    max-width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    
}
.project-details{
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    transform: translateY(100%);
    transition: all 0.3s;
    padding: 0px 15px 15px 15px;
    font-size: auto;

}
.project-details::-webkit-scrollbar{
    visibility: hidden;
}
.project-details a{
    color: var(--accent);
    text-decoration: none;
}
.project-details a:hover{
    text-decoration: underline;
    color: var(--accent);
}
.project-container:hover .project-details{
    transition: all 0.2s;
    transform: translateY(0%);
    background-color: rgba(12, 10, 10, 0.425); 
    color: white;
    padding: 15px;
    font-size: 15px;
}

.project-img{
    height: 100%;
    width: 100%;
}



#contact .header{
    bottom: 20px;
}
#contact{
    position: relative;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--el);    
}
#contact .header .title{
    height: 300px;
}
#contact .header .line{
    height: calc(50% - 150px);
}
.contact-title{
    font-size: 4rem;
}

.contact-content{

    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.social-icon{
    width: 50px;
    height: 50px;
}
.contact-icon{
    height: 30px;
    width: 30px;
}
.contacts div{
    display: flex;
    gap: 20px;
    align-items: center;
}
.contacts{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-socials{
    display: flex;
    gap: 15px;
}
.contact-socials a{
    text-decoration: none;
    color: var(--el);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    border: 1px solid transparent;
    border-radius: 15px;
    width: 200px;
    padding: 10px 20px;
    transition: all 0.2s;
}
.contact-socials a:hover{
    border: 1px solid var(--accent);
    transition: all 0.2s;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}
.contact-form div{
    display: flex;
    justify-content: space-between;
}
.contact-form label{
    font-size: 1.3rem;
}
.contact-form input{
    color: var(--el);
    width: 300px;
    height: 0px;
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--accent);
    border-radius: 0px;
    transition: all 0.1s;
    margin-top: 30px;
    
}
.contact-form div:hover input, input:focus{
    transition: all 0.1s;
    margin-top: 0px;
    height: 30px;
    border: 2px solid var(--accent);
}
#contact-form-btn{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid var(--accent);
    color: var(--el);
    font-size: 1.3rem;
    align-self: center;
    cursor: pointer;
    transition: all 0.2s;
}
#contact-form-btn:hover{
    background-color: var(--accent);
    border: 1px solid #1a1617;
    transition: all 0.2s;
}





.go-to-top{
    height: 5px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 0px;
}
.go-to-top a{
    width: 200px;
    text-align: center;
    color: var(--el);
    text-decoration: none;
    font-size: 1.5rem;
}
.go-to-top a:hover{
    text-decoration: underline;
}
.go-to-top .line{
    width: calc(50% - 150px);
    height: 5px;
}


footer{
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--el);
    font-size: 0.8rem;
}
footer .copyright{
    margin-right: calc(50vw - 100px);
}
.attribute-links{
    margin-left: 100px;
    margin-right: auto;

}
.attribute-links li{
    list-style: none;
    
    

}
.attribute-links a{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid transparent;
    
}
.attribute-links a:hover{
    color: lightgray;
    border-bottom: 1px solid lightgray;
}
